#podcasts {
  padding-bottom: 3rem;
  ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    width: 23%;
    float: left;
    margin: 0 1% 2rem 1%;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
    border-radius: .35rem;
    img {
      width: 100%;
      max-width: 100%;
      border-radius: .35rem .35rem 0 0;
    }
    .podcast_overview {
      padding: 1rem 7.5%;
      h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: $dark;
      }
      .episode_count {
        color: lighten($dark, 50%);
        font-size: .9rem;
        margin: .5rem 0 .25rem 0;
      }
    }
    &:hover {
      img {
        opacity: .8;
      }
      .podcast_overview {
        h2 {
          color: $highlight;
        }
      }
    }
  }
  }
}

#podcast_show {
  #show_banner {
    background: $dark;
    text-align: center;
    padding: 5rem 0;
    h1 {
      font-size: 2.5rem;
      font-weight: 300;
      color: $white;
      margin: 0 0 .5rem 0;
    }
    .description {
      width: 85%;
      line-height: 1.75;
      margin: 0 auto 2rem auto;
      color: lighten($dark, 20%)
    }
    .subscribe_link {
      font-size: .6rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      color: $white;
      display: inline;
      background: $highlight;
      border-radius: 2rem;
      padding: .5rem 1rem;
      margin: 0 .5rem;
      text-decoration: none;
      &:hover {
        background: darken($highlight, 10%);
      }
    }
  }

  #breadcrumb {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid lighten($dark, 75%);
    font-weight: 700;
    font-size: .7rem;
    text-decoration: none;
    a {
      color: lighten($dark, 45%);
      text-decoration: none;
    }
    span {
      margin: 0 .5rem;
    }
  }
  #episodes {
    padding: 3rem 0;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding-bottom: 2rem;
        border-bottom: 1px solid lighten($dark, 75%);
        margin-bottom: 2rem;
        &:last-child {
          border-bottom: none;
        }
        .episode_thumbnail {
          width: 22%;
          float: left;
          img {
            width: 10rem;
            max-width: 100%;
            border-radius: .35rem;
          }
        }
        .episode_overview {
          width: 76.5%;
          float: left;
          margin-left: 1.5%;
          h2{
            a{
              color: $dark;
              text-decoration: none;
            }
          }
          .description {
            color: lighten($dark, 25%);
          }
          .authorized_links {
            font-weight: 700;
            font-sized: .8rem;
            a {
              color: $highlight;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  #episode_content {
    padding: 4rem 0;
    margin-bottom: 4rem;
    border-bottom: 1px solid lighten($dark, 75%);
    .current_episode_thumbnail {
      display: block;
      margin: 0 auto 2rem auto;
      width: 10rem;
      max-width: 100%;
      border-radius: .35rem;
    }
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
    .description {
      text-align: center;
      font-size: .9rem;
      line-height: 1.7;
      color: lighten($dark, 25%);
    }
    a.jp-play,
a.jp-pause {
    width:40px;
    height:35px;
    float:left;
    text-indent:-9999px;
    outline:none;
}

a.jp-play {
    background: image-url("g") 0 0 no-repeat;
}

a.jp-pause {
    background: image-url("g") -40px 0 no-repeat;
    display: none;
}

.separator {
    background-image:image-url(".png");
    background-repeat:no-repeat;
    width: 2px;
    height: 35px;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}

a.jp-play,
a.jp-pause {
    width:40px;
    height:35px;
    float:left;
    text-indent:-9999px;
    outline:none;
}

a.jp-play {
    background: image-url("g") 0 0 no-repeat;
}

a.jp-pause {
    background: image-url("g") -40px 0 no-repeat;
    display: none;
}

.separator {
    background-image:image-url(".png");
    background-repeat:no-repeat;
    width: 2px;
    height: 35px;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}
.jp-audio *:focus,
.jp-audio-stream *:focus,
.jp-video *:focus {
  /* Disable the browser focus highlighting. */
  outline: none; }

.jp-audio button::-moz-focus-inner,
.jp-audio-stream button::-moz-focus-inner,
.jp-video button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0; }

.jp-audio,
.jp-audio-stream,
.jp-video {
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.6;
  color: #666;
  border: 1px solid #009be3;
  background-color: #eee; }

.jp-audio {
  width: 100%; }

.jp-audio-stream {
  width: 182px; }



.jp-video-full .jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important;
  position: relative;
  /* Rules for IE6 (full-screen) */
  overflow: hidden; }

.jp-gui {
  position: fixed !important;
  position: static;
  /* Rules for IE6 (full-screen) */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  /* 1 layer above the others. */ }

.jp-interface {
  position: absolute !important;
  position: relative;
  /* Rules for IE6 (full-screen) */
  bottom: 0;
  left: 0; }

.jp-interface {
  position: relative;
  background-color: #eee;
  width: 100%; }

.jp-audio .jp-interface {
  height: 80px; }

.jp-audio-stream .jp-interface {
  height: 80px; }

.jp-video .jp-interface {
  border-top: 1px solid #009be3; }

/* @group CONTROLS */
.jp-controls-holder {
  clear: both;
  width: 98%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: -8px;
  /* This negative value depends on the size of the text in jp-currentTime and jp-duration */ }

.jp-interface .jp-controls {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.jp-audio .jp-controls {
  width: 380px;
  padding: 20px 20px 0 20px; }

.jp-audio-stream .jp-controls {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 142px; }

.jp-video .jp-type-single .jp-controls {
  width: 100%;
  margin-left: 200px; }

.jp-video .jp-type-playlist .jp-controls {
  width: 134px;
  margin-left: 172px; }

.jp-video .jp-controls {
  float: left; }

.jp-controls button {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  border: none;
  cursor: pointer; }

.jp-play {
  width: 40px;
  height: 40px; }

.jp-play {
  background: image-url("jplayer.blue.monday.jpg") 0 0 no-repeat; }

.jp-play:focus {
  background: image-url("jplayer.blue.monday.jpg") -41px 0 no-repeat; }

.jp-state-playing .jp-play {
  background: image-url("jplayer.blue.monday.jpg") 0 -42px no-repeat; }

.jp-state-playing .jp-play:focus {
  background: image-url("jplayer.blue.monday.jpg") -41px -42px no-repeat; }

.jp-stop, .jp-previous, .jp-next {
  width: 28px;
  height: 28px;
  margin-top: 6px; }

.jp-stop {
  background: image-url("jplayer.blue.monday.jpg") 0 -83px no-repeat;
  margin-left: 10px; }

.jp-stop:focus {
  background: image-url("jplayer.blue.monday.jpg") -29px -83px no-repeat; }

.jp-previous {
  background: image-url("jplayer.blue.monday.jpg") 0 -112px no-repeat; }

.jp-previous:focus {
  background: image-url("jplayer.blue.monday.jpg") -29px -112px no-repeat; }

.jp-next {
  background: image-url("jplayer.blue.monday.jpg") 0 -141px no-repeat; }

.jp-next:focus {
  background: image-url("jplayer.blue.monday.jpg") -29px -141px no-repeat; }

/* @end */
/* @group progress bar */
.jp-progress {
  overflow: hidden;
  background-color: #ddd; }

.jp-audio .jp-progress {
  position: absolute;
  top: 32px;
  height: 15px; }

.jp-audio .jp-type-single .jp-progress {
  left: 110px;
  width: 100%; }

.jp-audio .jp-type-playlist .jp-progress {
  left: 166px;
  width: 100%; }

.jp-video .jp-progress {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10px; }

.jp-seek-bar {
  background: image-url("jplayer.blue.monday.jpg") 0 -202px repeat-x;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.jp-play-bar {
  background: image-url("jplayer.blue.monday.jpg") 0 -218px repeat-x;
  width: 100%;;
  height: 100%; }

/* @end */
/* @group volume controls */
.jp-state-no-volume .jp-volume-controls {
  display: none; }

.jp-volume-controls {
  position: absolute;
  top: 32px;
  left: 308px;
  width: 200px; }

.jp-audio-stream .jp-volume-controls {
  left: 70px; }

.jp-video .jp-volume-controls {
  top: 12px;
  left: 50px; }

.jp-volume-controls button {
  display: block;
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  border: none;
  cursor: pointer; }

.jp-mute,
.jp-volume-max {
  width: 18px;
  height: 15px; }

.jp-volume-max {
  left: 74px; }

.jp-mute {
  background: image-url("jplayer.blue.monday.jpg") 0 -170px no-repeat; }

.jp-mute:focus {
  background: image-url("jplayer.blue.monday.jpg") -19px -170px no-repeat; }

.jp-state-muted .jp-mute {
  background: image-url("jplayer.blue.monday.jpg") -60px -170px no-repeat; }

.jp-state-muted .jp-mute:focus {
  background: image-url("jplayer.blue.monday.jpg") -79px -170px no-repeat; }

.jp-volume-max {
  background: image-url("jplayer.blue.monday.jpg") 0 -186px no-repeat; }

.jp-volume-max:focus {
  background: image-url("jplayer.blue.monday.jpg") -19px -186px no-repeat; }

.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: image-url("jplayer.blue.monday.jpg") 0 -250px repeat-x;
  top: 5px;
  left: 22px;
  width: 46px;
  height: 5px;
  cursor: pointer; }

.jp-volume-bar-value {
  background: image-url("jplayer.blue.monday.jpg") 0 -256px repeat-x;
  width: 0px;
  height: 5px; }

/* @end */
/* @group current time and duration */
.jp-audio .jp-time-holder {
  position: absolute;
  top: 50px; }

.jp-audio .jp-type-single .jp-time-holder {
  left: 110px;
  width: 100%; }

.jp-audio .jp-type-playlist .jp-time-holder {
  left: 166px;
  width: 130px; }

.jp-current-time,
.jp-duration {
  width: 60px;
  font-size: .64em;
  font-style: oblique; }

.jp-current-time {
  float: left;
  display: inline;
  cursor: default; }

.jp-duration {
  float: right;
  display: inline;
  text-align: right;
  cursor: pointer; }

.jp-video .jp-current-time {
  margin-left: 20px; }

.jp-video .jp-duration {
  margin-right: 20px; }

/* @end */
/* @group playlist */
.jp-details {
  font-weight: bold;
  text-align: center;
  cursor: default; }

.jp-details,
.jp-playlist {
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #009be3; }

.jp-type-single .jp-details,
.jp-type-playlist .jp-details {
  border-top: none; }

.jp-details .jp-title {
  margin: 0;
  padding: 5px 20px;
  font-size: .72em;
  font-weight: bold; }

.jp-playlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  font-size: .72em; }

.jp-playlist li {
  padding: 5px 0 4px 20px;
  border-bottom: 1px solid #eee; }

.jp-playlist li div {
  display: inline; }

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
div.jp-type-playlist div.jp-playlist li:last-child {
  padding: 5px 0 5px 20px;
  border-bottom: none; }

div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 7px; }

div.jp-type-playlist div.jp-playlist a {
  color: #333;
  text-decoration: none; }

div.jp-type-playlist div.jp-playlist a:hover {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
  float: right;
  display: inline;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  color: #666; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist span.jp-free-media {
  float: right;
  display: inline;
  text-align: right;
  margin-right: 10px; }

div.jp-type-playlist div.jp-playlist span.jp-free-media a {
  color: #666; }

div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
  color: #0d88c1; }

span.jp-artist {
  font-size: .8em;
  color: #666; }

/* @end */
.jp-video-play {
  width: 100%;
  overflow: hidden;
  /* Important for nested negative margins to work in modern browsers */
  cursor: pointer;
  background-color: transparent;
  /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */ }

.jp-video-270p .jp-video-play {
  margin-top: -270px;
  height: 270px; }

.jp-video-360p .jp-video-play {
  margin-top: -360px;
  height: 360px; }

.jp-video-full .jp-video-play {
  height: 100%; }

.jp-video-play-icon {
  position: relative;
  display: block;
  width: 112px;
  height: 100px;
  margin-left: -56px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
  background: image-url("jplayer.blue.monday.video.play.png") 0 0 no-repeat;
  text-indent: -9999px;
  border: none;
  cursor: pointer; }

.jp-video-play-icon:focus {
  background: image-url("jplayer.blue.monday.video.play.png") 0 -100px no-repeat; }

.jp-jplayer audio,
.jp-jplayer {
  width: 0px;
  height: 0px; }

.jp-jplayer {
  background-color: #000000; }

/* @group TOGGLES */
/* The audio toggles are nested inside jp-time-holder */
.jp-toggles {
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

.jp-audio .jp-type-single .jp-toggles {
  width: 100%; }

.jp-audio .jp-type-playlist .jp-toggles {
  width: 55px;
  margin: 0;
  position: absolute;
  left: 325px;
  top: 50px; }

.jp-video .jp-toggles {
  position: absolute;
  right: 16px;
  margin: 0;
  margin-top: 10px;
  width: 100px; }

.jp-toggles button {
  display: block;
  float: left;
  width: 25px;
  height: 18px;
  text-indent: -9999px;
  line-height: 100%;
  /* need this for IE6 */
  border: none;
  cursor: pointer; }

.jp-full-screen {
  background: image-url("jplayer.blue.monday.jpg") 0 -310px no-repeat;
  margin-left: 20px; }

.jp-full-screen:focus {
  background: image-url("jplayer.blue.monday.jpg") -30px -310px no-repeat; }

.jp-state-full-screen .jp-full-screen {
  background: image-url("jplayer.blue.monday.jpg") -60px -310px no-repeat; }

.jp-state-full-screen .jp-full-screen:focus {
  background: image-url("jplayer.blue.monday.jpg") -90px -310px no-repeat; }

.jp-repeat {
  background: image-url("jplayer.blue.monday.jpg") 0 -290px no-repeat; }

.jp-repeat:focus {
  background: image-url("jplayer.blue.monday.jpg") -30px -290px no-repeat; }

.jp-state-looped .jp-repeat {
  background: image-url("jplayer.blue.monday.jpg") -60px -290px no-repeat; }

.jp-state-looped .jp-repeat:focus {
  background: image-url("jplayer.blue.monday.jpg") -90px -290px no-repeat; }

.jp-shuffle {
  background: image-url("jplayer.blue.monday.jpg") 0 -270px no-repeat;
  margin-left: 5px; }

.jp-shuffle:focus {
  background: image-url("jplayer.blue.monday.jpg") -30px -270px no-repeat; }

.jp-state-shuffled .jp-shuffle {
  background: image-url("jplayer.blue.monday.jpg") -60px -270px no-repeat; }

.jp-state-shuffled .jp-shuffle:focus {
  background: image-url("jplayer.blue.monday.jpg") -90px -270px no-repeat; }

/* @end */
/* @group NO SOLUTION error feedback */
.jp-no-solution {
  padding: 5px;
  font-size: .8em;
  background-color: #eee;
  border: 2px solid #009be3;
  color: #000;
  display: none; }

.jp-no-solution a {
  color: #000; }

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */
  }
  #links {
    padding: 2rem 0;
    ul {
      list-style: none;
      padding-left: 0;
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid lighten($dark, 75%);
      li {
        display: inline;
        margin-right: 1rem;
        font-weight: 700;
        a {
          color: $dark;
          text-decoration: none;
          &:hover {
            color: $highlight;
          }
        }
      }
      .current {
          color: $highlight;
      }
    }
  }
}